/* 改变主题色变量 */
$--color-primary: teal;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

html,
body,
#app,
#app > .el-container {
    height: 100%;
}

body {
    margin: 0px;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
   
.font-awesome-element-input-icon {
    margin-left: 6px;
}

.el-form-item.center {
    text-align: center;
    display: flex;
}
   

.el-form-item.center > * {
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}
    
.el-badge__content.is-fixed {
    top: 20px
}